body {
  background-color: aqua;
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}

.heading h1 {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: 45px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}

#google {
  background-color: #886bd8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}
.container {
  border-radius: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: #f8f8f8;
}
